.App {
  display: flex;
  height: 100vh;
}

.friend-list {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
}

.messages {
  height: 80%;
  overflow-y: scroll;
  margin-bottom: 20px;
}